name: Pull Request Tests

on:
  pull_request:
    branches:
      - master
      
jobs:

  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: 22

      - name: Configure NPM Registry
        run: echo "registry=https://registry.npmjs.org/" > .npmrc

      - name: NPM Install
        run: |
          rm -f package-lock.json
          npm install
          npm run build

      - name: NPM Test
        run: |
          npm test
          npm run mutate