name: Pull Request Tests

on:
  pull_request:
    branches:
      - master
      
jobs:

  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: 22

      - name: NPM Install
        run: npm ci

      - name: NPM Build
        run: npm run build

      - name: NPM Test
        run: |
          npm test
          npm run mutate
          npm run mutate